html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}
a{
    color: inherit;
    text-decoration: none;
}
.main-block {
    color: #2a2a2a;
    font-size: 18px;
}
.main-block__wrapper {
    display: grid;
    grid-template-columns: 200px auto;
    margin-top: 25px;
    grid-gap: 20px;
}
.main-block__left-item {
    margin-bottom: 18px;
}
.top-items {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}
.admission {
    width: 740px;
}
.admission__text {
    position: absolute;
    bottom: 85px;
    color: #fff;
    margin-left: 20px;
    max-width: 395px;
    font-size: 30px;
}
.constructor {
    width: 232px;
}
.constructor__item-text {
    position: absolute;
    bottom: 90px;
    color: #fff;
    margin-left: 20px;
    max-width: 190px;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 2px blue, 0 0 1em blue;
}
.product-day {
    max-width: 232px;
    color: #fff;
}
.product-day__slide {
    color: #Fff;
    background-image: url(../img/main-block/sld-bg.png);
    background-size: cover;
    text-align: center;
    height: 356px;
}
.product-day__item-title {
    padding-top: 30px;
}
.product-day__item-text {
    max-width: 200px;
    margin: 0 auto;
}
.product-day span {
    text-decoration: line-through;
    opacity: 0.5;
    font-size: 14px;
    margin-left: 10px;
}
.offers {
    max-width: 1240px;
    margin: 15px auto;
    border: 1px solid #b2b2b2;
    padding: 35px 35px 0;
}
.offers__item-title {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 40px;
}
.offers-nav__tabs {
    display: grid;
    grid-template-columns: 12% 15% 12% 13% 13% 12% 10%;
    margin-bottom: 40px;
    cursor: pointer;
    grid-gap: 25px;
}
.offers-item__slider {
    padding-bottom: 40px;
}
.offers-item__slide {
    grid-template-columns: 1fr 1fr;
    display: grid;
}


/*Catalog slider*/
.catalog-slider__titles-group {
    margin-bottom: -42px;
    margin-top: 55px;
}

.catalog-slider__title {
    display: inline-block;
}
.catalog-slider__link {
    font-size: 20px;
    line-height: 1.2;
    z-index: 442;
    text-decoration: none;
    color: #000;
    position: relative;
    width: max-content;

}
.catalog-slider__link:hover {
    opacity:0.8;
}
.catalog-slider__link:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 12px;
    top: 7px;
    right: -20px;
    background-image: url(../img/catalog-slider/arrow-right.png);
    background-repeat: no-repeat;
}
.catalog-slider__items {
    padding-top: 80px;
}
.catalog-slider__item {
    position: relative;
    width: 285px;
    
}
.catalog-slider__item:hover {
    opacity: 0.8;
}
.catalog-slider__inner{max-width: 100%;}
.markers {
    position: absolute;
    top: 0;
    z-index: 20
}
.catalog-slider__item-link{
    text-decoration: none;
    color: #000;
    
}
.catalog-slider__image-wrapper {
    height: 285px;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}
.catalog-slider__image {
    /*display: block!important;*/
    margin: 10px auto;
}
.information {
    position: relative;
    width: 90%;
}
.information__subdescription {
    position: relative;
    font-size: 15px;
    color: #3dad57;
    line-height: 1.2;
    padding-left: 14px;
    margin-bottom: 20px;
}
.information__subdescription:before{
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: #3dad57; 
    border-radius: 50%;
    top: 4px;
    left: 0;
}
.information__rate {
    display: inline-block;
    font-size: 0;
    width: 95px;
    height: 19px;
    position: absolute;
    top: 0;
    left: 95px;
}
.rate-style {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    color: lightgrey;
}
.information__rate-star:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url(../img/catalog-slider/rate-star.png);
}
.information__rate > .information__rate-star2:before {
    left: 20px;
}
.information__rate > .information__rate-star3:before {
    left: 40px;
}
.information__rate > .information__rate-star4:before {
    left: 60px;
}
.information__rate > .information__rate-star5:before {
    left: 80px;
}
.information__description {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 30px;
}
.information__price {
    font-size: 29.797px;
    color: rgb(42, 42, 42);
    font-weight: 500;
    line-height: 1.2;
}

.markers-style {
    border-radius: 3px;
    width: 52px;
    height: 21px;
    padding: 2px 9px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}
.markers__discount {
    background-color: #e3661b;
}
.markers__new {
    background-color: #32a223;
}
.markers__hit {
    background-color: #cc2e2e;
}
.catalog-slider .swiper-pagination{
    position: absolute;
    top: 11px;
    text-align: right;
    bottom: auto;
    width: 100%;
    right: 0;
}
.catalog-slider .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #000;
}
.discount-banner {
    margin-top:50px;
}
.discount-banner img {
    width: 100%;
}

    