



.private-area {
	color: #313131;
}
.personal-area__title {
	margin-bottom: 30px;
}
.bold {
	font-weight: 700;
}
.personal-area__row {
	display: grid;
	grid-template-columns: repeat(3, max-content);
    grid-gap: 40px;
	margin-bottom: 30px;
}
.personal-area__item {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}
.personal-area__item--active {
    border-bottom: 3px solid #000;
    padding-bottom: 15px;
    /*margin-bottom: 20px;*/
}
.personal-area__item:before {
	content: "";
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: -3px;
}
.personal-area__item1:before {
	background-image: url(../img/personal-area/personal-area-icon1.png);
}
.personal-area__item2:before {
	background-image: url(../img/personal-area/personal-area-icon2.png);
}
.personal-area__item3:before {
	background-image: url(../img/personal-area/personal-area-icon3.png);
}
.personal-area__order-information {
	padding-bottom: 20px;
	border-bottom: 2px solid #8f8f8f;
	margin-bottom: 20px;
}
.personal-area__tab {
	display: none;
}
.personal-area__tab1 {
	display: grid;
	grid-template-columns: max-content 6fr;
    grid-gap: 30px;
}

.personal-area__orders {
	list-style: none;
	margin: 0;
	padding: 20px 50px 20px 20px;
    background-color: #f5f5f5;
	border-radius: 5%;
}
.personal-area__orders li  {
	margin-bottom: 15px;
}
.personal-area__order-row {
	display: grid;
    grid-template-columns: repeat(5, 1fr);
	margin-bottom: 10px;
}
.personal-area__order-price {
	max-width: 58%;
}
.personal-area__order-date {
	max-width: 60%;
}
.personal-area__order-adress {
	max-width: 69%;
}
.personal-area__track-code {
	max-width: 80%;
}
.personal-area__order-name {
	display: inline-block;
	cursor: pointer;
	position: relative;
}
.personal-area__order-name:hover {
	opacity: 0.8;
}
.personal-area__order-name::before {
	content: "";
    position: absolute;
    top: 50%;
    right: -17px;
    display: block;
    width: 10px;
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: #000;
    transform: translate(-3px, -50%) rotate(45deg);
}
.personal-area__order-name::after {
	content: "";
    position: absolute;
    top: 50%;
    right: -17px;
    display: block;
    width: 10px;
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: #000;
    transform: translate(3px, -50%) rotate(-45deg);
}
.personal-area__order-name--active::before {
	transform: rotate(-45deg)!important;
	right: -14px;
}
.personal-area__order-name--active::after {
	transform: rotate(45deg)!important;
	right: -20px;
}
.personal-area__order-content {
	display: none;
}
.personal-area__order-content--active {
	display: block;
}
.order-date__delivery {
	color: #d88314;
	padding-left: 20px;
	font-weight: 500;
	position: relative;
}
.order-date__delivery:before {
	content:"";
	position: absolute;
	width: 15px;
	height: 15px;
	background-image: url(../img/personal-area/order-date-icon1.png);
	left: 0;
}
.track-code__link {
	color: #4c7ba2;
    text-decoration: underline;
}
.track-code__link:hover {
	opacity: 0.8;
}
.personal-area__order-link {
	color: #EE719E;
	border: 1px solid #EE719E;
	border-radius: 6px;
	padding: 6px 0;
	font-weight: 500;
	max-width: 80%;
	text-align: center;
}
.personal-area__order-link:hover {
	opacity: 0.8;
}
.personal-area__products-wrapper {
	display: grid;
	grid-template-columns: 6fr max-content;
    padding: 20px;
    grid-gap: 20px;
	border: 1px solid #c7c7c7;
    border-radius: 5px;
}
.personal-area__products-title {
	font-size: 24px;
	padding-bottom: 15px;
	border-bottom: 1px solid #c7c7c7;
	margin-bottom: 20px;	
}
/* .personal-area__product-image {
	padding-right: 20px;
} */
.personal-area__product {
	display: grid;
    grid-template-columns: max-content 6fr 2fr 2fr;
	column-gap: 20px;
	border-bottom: 1px solid #c7c7c7;
    padding-bottom: 20px;
	margin-bottom: 20px;
}
/* .personal-area__product-wrapper {
	display: grid;
    grid-template-columns: 55%;
} */

.personal-area__product-inner {
	text-align: right;
}
.personal-area__product-price {
	font-size: 24px;
}
.personal-area__product-price strike{font-weight: 300;  font-size: 18px;}
.personal-area__item-price {
	border-radius: 14px;
	background-color: #efefef;
	padding: 20px;
	height: max-content;
}
.personal-area__item-title {
	font-size: 24px;
	padding-bottom: 20px;
	border-bottom: 1px solid #878787;
	margin-bottom: 20px;
}
.item-price__price {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
    border-bottom: 1px solid #878787;
    margin-bottom: 25px;
}
.item-price__price li  {
	display: flex;
	justify-content: space-between;
}
.personal-area__total-amount {
	text-align: right;
	font-size: 24px;
}


.personal-area__order-row2 {
	display: grid;
	grid-template-columns: 12% 13% 33% 19%;
	grid-gap: 88px;
	margin-bottom: 7px;
}
.order-date__delivery-check {
	position: relative;
	color: #3fa141;
	font-weight: 500;
	padding-left: 25px;
}
.order-date__delivery-check:before{
	content:"";
	position: absolute;
	width: 15px;
	height: 11px;
	background-image: url(../img/personal-area/order-date-icon2.png);
	left: 0;
	top: 5px;
}
.order-date__delivery-cross {
	position: relative;
	color: #df2121;
	font-weight: 500;
	padding-left: 25px;
}
.order-date__delivery-cross:before{
	content:"";
	position: absolute;
	width: 15px;
	height: 15px;
	background-image: url(../img/personal-area/order-date-icon3.png);
	left: 0;
	top: 2px;
}
.personal-area__password-form {
	margin-bottom: 40px;
}
.personal-area__password {
	margin-bottom: 30px;
}
.personal-area__pass {
	margin-bottom: 10px;
}
.personal-area__password-input {
	height: 40px;
	width: 20%;
}
.personal-area__confirmation {
	margin-bottom: 30px;
}
.personal-area__confirm {
	margin-bottom: 10px;
}
.personal-area__confirmation-input {
	height: 40px;
	width: 20%;
}
.personal-area__password-button {
	color: #fff;
	background-color: #EE719E;
	padding: 10px 50px;
	display: inline-block;
}


.personal-area__account-form {
	margin-bottom: 30px;
}
.personal-area__account-name {
	margin-bottom: 20px;
}
.personal-area__name {
	margin-bottom: 10px;
}
.personal-area__name-input {
	height: 40px;
	width: 20%;
}
.personal-area__account-telephone {
	margin-bottom: 20px;
}
.personal-area__telephone {
	margin-bottom: 10px;
}
.personal-area__telephone-input {
	height: 40px;
	width: 20%;
}
.personal-area__account-lastname {
	margin-bottom: 20px;
}
.personal-area__lastname {
	margin-bottom: 10px;
}
.personal-area__lastname-input {
	height: 40px;
	width: 20%;
}
.personal-area__account-email {
	margin-bottom: 20px;
}
.personal-area__email {
	margin-bottom: 10px;
}
.personal-area__email-input {
	height: 40px;
	width: 20%;
}
.personal-area__account-button {
	color: #fff;
	background-color: #df2121;
	padding: 10px 50px;
	display: inline-block;
}

#cabinet-overlay {
    color: #000;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 70px;
    width: 222px;
    height: 40px;
    right: 50%;
    z-index: 5555;
    background: #fff;
    -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}
.cabinet-overlay__inner{text-align: center;}
.cabinet-overlay__inner a{margin-right: 10px; height: 40px; display: inline-block; line-height: 40px;}
.cabinet-overlay__inner a:last-child{margin-right: 0px;}
.ai-b {
    display: block;
}
.personal__btn {
    width: 225px;
}




/* .personal-area__content {
	display: none;
} */
@media (max-width: 1030px){
	.personal-area__product {
		grid-template-columns: max-content 5fr 2fr;
    	column-gap: 20px;
    	row-gap: 10px;
	}
	.personal-area__product-inner {
		text-align: left;
	}
}
@media (max-width: 930px){
	.personal-area__order-row{
		grid-template-columns: repeat(3, 1fr);
		grid-row-gap: 30px;
	}
	.personal-area__products-wrapper {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 685px){
	.personal-area__product {
		grid-template-columns: 1fr;
	}
	.personal-area__order-row {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 605px){
	.personal-area__row {
		grid-template-columns: repeat(2, max-content);
		grid-gap: 20px;
	}
}
@media (max-width: 677px){
	.personal-area__orders-wrapper {
		display: none;
	}
	.personal-area__tab1 {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 425px){
	.personal-area__row {
		grid-template-columns: repeat(1, max-content);
	}
}