.promotions-slider__titles-group {
	margin-bottom: -42px;
    margin-top: 55px;
}
.promotions__slider {
	padding-top: 80px;
}
.promotions__link {
	font-size: 20px;
	line-height: 1.2;
	z-index: 442;
	text-decoration: none;
	color: #000;
	position: relative;
	width: max-content;
}
.promotions__link:after {
	content: "";
	position: absolute;
	width: 15px;
    height: 12px;
    top: 7px;
    right: -20px;
	background-image: url(../img/catalog-slider/arrow-right.png);
	background-repeat: no-repeat;
}
.promotions__grid {
	display:grid; 
	grid-gap:10px; 
	grid-template-columns: 1fr 1fr 1fr;
}
.promotions__img {
	width: 100%;
}
.promotions__span {
	font-size: 72px;
	color: rgb( 255, 255, 255 );
	text-align: right; text-shadow: 2.5px 4.33px 5px rgb( 0, 0, 0 ); 
	position: absolute; left: 10%; 
	top: 33%; 
	font-weight: 600;
}
.promotions .swiper-pagination{
	top: 11px;
	text-align: right !important;
	bottom: auto;
	width: 100%;
	right: 0;
}
.promotions__text{
	font-size: 60px;
    color: rgb( 255, 255, 255 );
    text-align: right;
    text-shadow: 2.5px 4.33px 5px rgb(0 0 0);
    position: absolute;
    left: 6%;
    top: 33%;
    font-weight: 600;
}

