.news {
	color: #2a2a2a;
    font-size: 18px;
}
.news__inner {
	margin-bottom: 60px; 
}
.news__titles-group {
	margin-bottom: -42px;
    margin-top: 55px;
}

.news__link:hover {
	opacity:0.8;
}
.news__items {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	grid-gap: 15px;
	padding-top: 80px;
}
.news__item {
	border: 1px solid #b2b2b2;
	border-radius: 10px;
	max-width: 290px;
	position: relative;
}
.news__item:hover {
	opacity: 0.8;
}
.news__item-description {
	padding: 25px;
}
.news__item-title {
	font-weight: 700;
	margin-bottom: 20px;		
}
.news__item-img {
	width: 100%;
}
.news__item-text {
	margin-bottom: 30px;
}
.news__item-date {
	font-weight: 300;
}
.news__item-date--big-item {
	font-weight: 300;
	margin-bottom: 20px;
}
.news__big-item {
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
	border: 1px solid #b2b2b2;
	border-radius: 10px;
	position: relative;
	background-image: url(../img/news/news-1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.news__big-item:hover {
	opacity: 0.8;
}
.news__item-link {
	height: auto;
}
.news__item-description--big-item {
	padding: 25px;
}
.news__item-description--big-item {
	position: absolute;
	bottom: 0;
	color: #fff;
}


