.popular-categories {
	color: #000;
}
.popular-categories__title {
    margin-bottom: -42px;
	margin-top: 55px;
}
.popular-categories__slider {
	padding-top: 80px;
}

.popular-categories__items{ 
	display: grid;
    grid-template-areas:
        "item1 item1 item2 item3 item4 item5"
		"item1 item1 item6 item7 item8 item9";
	grid-gap: 20px;
}
.popular-categories__item {
    text-align: center;
    background: linear-gradient(0deg, #ebecf0, #f8f9fb);
    border-radius:10px;
    width: 230px; height: 235px;
    overflow: hidden;cursor: pointer;
}
.popular-categories__item:hover {
    opacity: 0.8;
}
.popular-categories__item:nth-child(1) {
    width: 460px; 
    height: 490px; 
    overflow: hidden;
}
.popular-categories__item1 {
    grid-area:item1;
}
.popular-categories__item2 {
    grid-area:item2;
}
.popular-categories__item3 {
    grid-area:item3;
}
.popular-categories__item4 {
    grid-area:item4;
}
.popular-categories__item5 {
    grid-area:item5;
}
.popular-categories__item6 {
    grid-area:item6;
}
.popular-categories__item7 {
    grid-area:item7;
}
.popular-categories__item8 {
    grid-area:item8;
}
.popular-categories__item9 {
    grid-area:item9;
}
.popular-categories__name {
    text-transform: uppercase;
}
.popular-categories__inner {
    height:100%;
}
.popular-categories__item1 
.popular-categories__img-wrapper {
    max-width: 470px; height: 453px;
}
.popular-categories__img-wrapper { 
    max-width: 235px; height: 200px;
}
.popular-categories__img {
    object-fit: contain;
    width: 100%; 
    height: 100%;
}
.popular-categories .swiper-pagination {
    position: absolute;
    top: 11px;
    text-align: right;
    bottom: auto;
    width: 100%;
    right: 0;
}
